body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4E3D2;
    flex-direction: column;
}

#content-capture
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-capture
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#realtime-capture
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#image-capture
{
    width: 400;
    height: 400;
    background-size: cover;
}